# Virtual Environment
.venv/
venv/
ENV/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Local development settings
.env

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# Model caches
models/summarization_cache/
models/embeddings_cache/

data/*
!data/.gitkeep

vectordb/*
!vectordb/.gitkeep