accelerate
chromadb
docx2txt
langchain
langchain-chroma
langchain-community
langchain-huggingface
langchain-ollama
ollama
pdf2image
pdfminer.six
Pillow==10.1.0
protobuf
pydantic
pytesseract
python-docx
sentence-transformers
sentencepiece
streamlit
torch
transformers
unstructured