chromadb
cryptography
fastapi
langchain
langchain-community
langchain-text-splitters
pydantic
PyMuPDF
pymysql
python-dotenv
python-multipart
requests
sentence-transformers
SQLAlchemy
sse-starlette
uvicorn[standard]