\
accelerate
chromadb
docx2txt
easyocr
langchain
langchain-chroma
langchain-community
langchain-huggingface
langchain-ollama
numpy
ollama
olmocr
opencv-python
openpyxl
pandas
pdf2image
pdfminer.six
Pillow==10.1.0
protobuf
pydantic
PyMuPDF
pytesseract
python-docx
sentence-transformers
sentencepiece
streamlit
textdistance
tiktoken
torch
torchvision
transformers
unstructured
verovio